body {
    color: rgb(0, 0, 0);
    background: rgb(230, 226, 9);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(255, 32, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(232, 39, 250);
}

section {
	background: rgb(222, 24, 240);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
    
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}